.workspace-picker-modal {
  box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 25%);
  width: unset;
}

.workspace-picker-color-scheme-icon > svg {
  fill: var(--text-muted);
}

.workspace-picker-color-scheme-icon:hover > svg {
  fill: var(--text-normal);
}

.status-bar .plugin-workspace-picker > .status-bar-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.status-bar .plugin-workspace-picker .icon {
  display: inline-block;
}

.status-bar .plugin-workspace-picker .icon svg {
  vertical-align: text-top;
  margin-right: 2px;
}
